<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>报销审核</title>

    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Iframe.css" />

    <!--
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    -->
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!--
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    -->
    <script>
        function ddd(obj){
            var a = $(obj).attr('aid');
            $("#tobid").attr('value',a);
        }
    </script>
</head>

<body style="height:100%;overflow-y:auto;">

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="{:U('record_del')}" method="get">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除申请</h4>
                </div>
                <div class="modal-body">
                    <input id="tobid" type="hidden" name="id" value=""/>
                    <textarea class="form-control" name="msg">
                        该操作将删除本次申请的所有记录，删除后不可恢复！
                    </textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<span class="cp_title" ><h4>报销初审</h4></span>
<a class="btn btn-primary" style="float: right;margin-right:20px;margin-top:30px" href="{:U("index/downreimburse")}">下载报销信息</a>

<div class="table_con">
    <form method="get" action="{:U('reimburse/getalist')}">
        <table cellpadding="0" cellspacing="1">
            <tr>
                <td align="right" colspan="11">
                    <label style="margin-left:5px;">申请人:&nbsp;&nbsp;</label>
                    <!--
                    <select class="input-sm" name="auid" style="margin-right:5px;width:80px;">
                        <option value="">-选择-</option>
                        <volist name="users" id="vo">
                            <option value="{$vo.id}">{$vo.username}</option>
                        </volist>
                    </select>
                    -->
                    <input type="text" class="input-sm" name="luname"  style="float:none;" placeholder="请输入关键字" value="{$keyword}" />
                    <label style="margin-left:5px;">项目名称:&nbsp;&nbsp;</label>
                    <input type="text" class="input-sm" name="keyword" id="keyword" style="float:none;" placeholder="请输入关键字" value="{$keyword}" />
                    <label style="margin-left:5px;">单号搜索:&nbsp;&nbsp;</label>
                    <input type="text" class="input-sm" name="danno"  style="float:none;" placeholder="请输入单号" value="{$danno}" />
                    <input type="submit" name="search" id="search" value="搜索" class="bj_btn" />
                </td>
            </tr>
            <tr>
                <td width="5%" align="center" class="tb_title">报销单号</td>
                <td width="8%" align="center" class="tb_title">报销项目</td>
                <td width="5%" align="center" class="tb_title">申请ID</td>
                <td width="5%" align="center" class="tb_title">销售合同</td>
                <td width="8%" align="center" class="tb_title">采购合同</td>
                <td width="5%" align="center" class="tb_title">申请人</td>
                <td width="8%" align="center" class="tb_title">状态</td>
                <td width="22%" align="center" class="tb_title">操作</td>
            </tr>
            <notempty name="data['list']">
                <foreach name="data['list']" key="key" item="vo">
                    <tr>
                        <td align="center">
                            <a href="{:U("reimburse_detail?id=$vo[rbid]")}">{$vo.rbno}</a>
                        </td>
                        <td align="center">{$vo.pname}</td>
                        <td align="center">
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="{$vo.dtotal}">{$vo.id}</button>
                        </td>
                        <td align="center">
                            <if condition="$vo.scno eq ''">
                                无
                                <else />
                                {$vo.scno}
                            </if>
                        </td>
                        <td align="center">
                            <if condition="$vo.cgcno eq ''">
                                无
                                <else />
                                {$vo.cgcno}
                            </if>
                        </td>
                        <td align="center">{$vo.uname}</td>
                        <td align="center">
                            <if condition="$vo.bstatus eq 0">
                                <span style="color:red">被驳回</span>
                            </if>
                            <if condition="$vo.bstatus eq 1">
                                <span style="color:yellowgreen">{$vo.checkuname}初审中</span>
                            </if>
                            <if condition="$vo.bstatus eq 2">
                                <span style="color:yellow">{$vo.recheckuname}复审中</span>
                            </if>
                            <if condition="$vo.bstatus eq 3">
                                <span style="color:darkgoldenrod">出纳确认中</span>
                            </if>
                            <if condition="$vo.bstatus eq 4">
                                <span style="color:dodgerblue">财务确认中</span>
                            </if>
                            <if condition="$vo.bstatus eq 5">
                                <span style="color:blanchedalmond">CFO确认中</span>
                            </if>
                            <if condition="$vo.bstatus eq 6">
                                <span style="color:deeppink">CEO确认中</span>
                            </if>
                            <if condition="$vo.bstatus eq 7">
                                <span style="color:mediumpurple">出纳付款中</span>
                            </if>
                            <if condition="$vo.bstatus eq 8">
                                <span style="color:darkgrey">完成</span>
                            </if>
                        </td>
                        <td align="center">
                            <if condition="$Think.session.uid eq $vo['uid'] or $Think.session.exc eq []">
                                <a class="btn btn-info btn-xs" href="{:U("borrow?rbid=$vo[rbid]")}">添加新的借款</a>
                                <a class="btn btn-warning btn-xs" href="{:U("index?rbid=$vo[rbid]")}">添加新的报销</a>
                                <if condition="$vo.bstatus eq 0">
                                    <a class="btn btn-primary btn-xs" href="{:U("reimburse_edit?id=$vo[id]&rt=$vo[rbtype]")}">编辑并重新申请</a>
                                </if>
                                <if condition="$vo.bstatus eq 1">
                                    <a aid="{$vo.id}" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" onclick="ddd(this)" >删除</a>
                                </if>
                            </if>
                            <a class="btn btn-primary btn-xs" href="{:U("record_detail?id=$vo[id]&rt=$vo[rbtype]&rbno=$vo[rbno]")}">详细</a>
                            <a class="btn btn-info btn-xs" href="{:U("reimbursep?id=$vo[id]&rt=$vo[rbtype]&rbno=$vo[rbno]")}">打印</a>
                        </td>
                    </tr>
                </foreach>
                <else />
                <tr>
                    <td colspan="8">暂无信息</td>
                </tr>
            </notempty>
            <if condition="($data['list'] neq null)">
                <tr>
                    <td colspan="8">
                        {$data.show}
                    </td>
                </tr>
            </if>
        </table>
    </form>
</div>
<script>
    $(function (){
        $("[data-toggle='popover']").popover();
        $("[data-toggle='tooltip']").tooltip();
    });
</script>
</body>
</html>
