<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>申请借款</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css" />
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/laydate/laydate.js"></script>
    <style>
        .daniel_icon {
            margin-left: 160px;
        }
    </style>
    <script>
        function addpic(){
            $("#daniel_so").append('<div class="login_box1 form-group" style="width:80%"><span class="login_title1 col-sm-2 control-label">相关图片</span><input onchange="dd(this)" type="file" /><span class="daniel_icon"></span><span style="color:red"></span><sapn style="float:right;margin-left:300px"><a onclick="delpic(this)">-删除图片</a></span></div>');
        }
        function addhang(){
            $("#d_table").append('<tr class="info"><td><input class="form-control" name="ab[]" type="text"/></td><td><input class="form-control" name="etime[]" type="text" placeholder="格式：2016-06"/></td><td><input class="form-control" name="atotal[]" type="text"/></td><td><a class="btn btn-danger" onclick="delpic(this)">删除此行</a></td></tr>');
        }
        function delpic(obj){
            $(obj).parent().parent().remove();
        }
        function dd(obj){
            //创建FormData对象
            var data = new FormData();
            //为FormData对象添加数据
            $.each($(obj)[0].files, function(i, file) {
                data.append('icon', file);
            });
            $.ajax({
                url:'/Index/getImg.shtml',
                type:'POST',
                data:data,
                cache: false,
                contentType: false,    //不可缺
                processData: false,    //不可缺
                success:function(data){
                    if(data){
                        if(data == 'no'){
                            alert('上传失败');
                            return;
                        }
                        $(obj).siblings(".daniel_icon").html('<img src="'+data+'" width="80" /><input  type="hidden" name="pic[]" value="'+data+'" />');
                    }
                },
                error:function(){
                    alert('上传出错,请联系管理员！');
                    return false;
                }
            });

        }
    </script>
</head>

<body style="background:#fff;height:100%;overflow-y:auto;">
<div class="nav_top1">
    <div class="nav_tcon1" style="width:98%;">
        <div class="logotitle1">
            <span>申请借款</span>
        </div>
    </div>
</div>
<form name="product_form" id="daniel_form" enctype="multipart/form-data" action="" method="post">
    <div class="logo_content1">
        <div class="logo_enter1" style="border:none;float:left;">
            <span style="color:red;margin-left: 70px">*一次申请对应一个项目 多个项目则多个申请</span>
        </div>
        <div class="logo_ccon1">
            <div id="daniel_so" class="logo_enter1" style="border:none;float:left;">
                <notempty name="records">
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">所属项目</span>
                        <select id="proj" class="use_name form-control input-xsm" name="pid"   style="width:200px">
                            <volist name="pro" id="vo">
                                <if condition="$vo['id'] eq $records['pid']">
                                    <option value="{$vo.id}"> {$vo.pname}</option>
                                </if>
                            </volist>

                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">审核人</span>
                        <select id="checkid" class="use_name form-control input-xsm" name="checkuid"   style="width:200px">
                            <volist name="checkusers" id="vo">
                                <if condition="$vo['id'] eq $records['checkuid']">
                                    <option value="{$vo.id}" > {$vo.username}</option>
                                </if>
                            </volist>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">所属销售合同</span>
                        <select id="con" class="use_name form-control input-xsm" name="cid"   style="width:200px">

                            <if condition="$cidinfo neq ''">
                                <option value="{$cidinfo.id}" > {$cidinfo.cno}</option>
                                <else/>
                                <option value="0">无销售合同</option>
                            </if>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">所属采购合同</span>
                        <select id="cgid" class="use_name form-control input-xsm" name="cgid"   style="width:200px">
                            <if condition="$cgidinfo neq ''">
                                <option value="{$cgidinfo.id}" > {$cgidinfo.cno}</option>
                                <else/>
                                <option value="0">无采购合同</option>
                            </if>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">归属公司</span>
                        <select  class="use_name form-control input-xsm" name="belong"   style="width:200px">
                            <option value="{$records['belong']}">{$records['belong']}</option>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label" >收款公司</span>
                        <input class="use_name form-control"  name='charge' readonly value="{$records.charge}" type="text" placeholder="收款方信息">
                    </div>

                <else/>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">所属项目</span>
                        <select id="proj" class="use_name form-control input-xsm" name="pid"   style="width:200px">
                            <option value="">请选择</option>
                            <volist name="pro" id="vo">
                                <option value="{$vo.id}" > {$vo.pname}</option>
                            </volist>

                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">审核人</span>
                        <select id="checkid" class="use_name form-control input-xsm" name="checkuid"   style="width:200px">
                            <volist name="checkusers" id="vo">
                                <option value="{$vo.id}" > {$vo.username}</option>
                            </volist>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">所属销售合同</span>
                        <select id="con" class="use_name form-control input-xsm" name="cid"   style="width:200px">
                            <option value="0">无销售合同</option>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">所属采购合同</span>
                        <select id="cgid" class="use_name form-control input-xsm" name="cgid"   style="width:200px">
                            <option value="">无采购合同</option>
                            <volist name="cgcon" id="vo">
                                <option value="{$vo.id}" > {$vo.cno}</option>
                            </volist>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label">归属公司</span>
                        <select  class="use_name form-control input-xsm" id="belongs" name="belong"   style="width:200px">
                            <option value="华睿互动">华睿互动</option>
                            <option value="极速传媒">极速传媒</option>
                            <option value="优学教育">优学教育</option>
                        </select>
                        <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <div class="login_box1 form-group">
                        <span class="login_title1 col-sm-2 control-label" >收款公司</span>
                        <input class="use_name form-control" id="charges"  name='charge'  type="text" placeholder="收款方信息">
                    </div>
                </notempty>
                <table id="d_table" class=" table table-bordered" style="margin-left:30px;margin-top:-20px">
                    <tr class="active">
                        <th>报销摘要</th>
                        <th>发生月份</th>
                        <th>申请金额</th>
                        <th></th>
                    </tr>
                    <tr class="info">
                        <td width="35%"><input class="form-control" name="ab[]" type="text"/></td>
                        <td><input class="form-control" name="etime[]" type="text" placeholder="格式：2016-06"/></td>
                        <td><input class="form-control" name="atotal[]" type="text"/></td>
                        <td><a class="btn btn-info" onclick="addhang(this)">增加一行</a></td>
                    </tr>
                </table>
                <div class="login_box1 form-group" style="width:80%">
                    <span class="login_title1 col-sm-2 control-label">相关图片</span>
                    <input onchange="dd(this)" type="file"/><span class="daniel_icon"></span><span style="color:red"></span>
                    <sapn style="float:right;margin-left:300px"><a onclick="addpic()" id="addpic">+增加图片</a></span>
                </div>
            </div>
            <div class="nav_tcon1" style="float:left;width:98%;">
                <input type="hidden" name="rbid" value="{$rbid}"/>
                <input type="hidden" name="dp" value="{$dp}"/>
                <input style="margin-left:200px" type="submit"  class="login_submit btn btn-primary" value="申请借款" />
            </div>
        </div>
    </div>
</form>
<script>
    $("#daniel_form").submit(function () {
        if($("#proj").val() == ''){
            alert('所属项目不可为空！');
            return false;
        }
        if($("#checkid").val() == ''){
            alert('审核人不可不选！');
            return false;
        }
        if($("#belongs").val() == ''){
            alert('归属公司不可不选！');
            return false;
        }
        if($("#charges").val() == ''){
            alert('收款公司不可不选！');
            return false;
        }

    });
    $("#proj").change(function(){
        var str = $(this).val();
        if(str != ''){
            $.ajax({
                type: "POST",
                url: "/reimburse/getcontract",
                data: "pid="+str,
                dataType:'json',
                success: function(msg){

                    $("#con").children().remove();
                    $("#con").append("<option value='0'>无销售合同</option>");
                    $("#cgid").children().remove();
                    $("#cgid").append("<option value='0'>无采购合同</option>");
                    for(var i in msg['k1']){
                        $("#con").append("<option value='"+msg['k1'][i].id+"'>"+msg['k1'][i].cno+msg['k1'][i].gname+"</option>");
                    }

                    for(var i in msg['k2']){
                        $("#cgid").append("<option value='"+msg['k2'][i].id+"'>"+msg['k2'][i].cno+msg['k2'][i].gname+"</option>");
                    }
                }
            });
        }


    });


</script>
</body>
</html>
