<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>详细</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Iframe.css" />
    <!--
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!--
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    -->
    <script>
        function ddd(obj){
            var a = $(obj).attr('src');
            $("#tobids").attr('src',a);
        }
    </script>
</head>

<body style="height:100%;overflow-y:auto;">

<!-- Modal -->
<div class="modal fade" id="myModals" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="get">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">审核驳回</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="type" value="bac"/>
                    <input id="tobid" type="hidden" name="billid" value=""/>
                    <textarea class="form-control" name="msg">填写驳回信息...</textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img width="1000" id="tobids" src="" alt=""/>
        </div>
    </div>
</div>
<div class="table_con">
    <div class="nav_top1">
        <div class="nav_tcon1" style="width:98%;">
            <div class="logotitle1">
                <span>申请详细</span>
            </div>
        </div>
    </div>
    <form method="get" action="">
        <span style=""><h5>审核意见</h5></span>
        <div class="panel panel-default">
            <div class="panel-body" style="margin-left: 20px">
                <ol>
                    <volist name="msg" id="vo">
                        <li>{$vo.msg}--{$vo.uname} {:date('Y/m/d H:i',$vo[ctime])}</li>
                    </volist>
                </ol>
            </div>
        </div>
        <table cellpadding="0" cellspacing="1">
            <tr>
                <td width="5%" align="center" class="tb_title">项目名称</td>
                <td width="5%" align="center" class="tb_title">关联销售合同</td>
                <td width="5%" align="center" class="tb_title">关联采购合同</td>
                <td width="5%" align="center" class="tb_title">所属公司</td>
                <td width="5%" align="center" class="tb_title">收款单位</td>
                <td width="5%" align="center" class="tb_title">摘要</td>
                <td width="5%" align="center" class="tb_title">时间</td>
                <td width="8%" align="center" class="tb_title">报销金额</td>
                <td width="5%" align="center" class="tb_title">支付金额</td>
                <td width="5%" align="center" class="tb_title">参考金额</td>
            </tr>
            <notempty name="data">
                <foreach name="data" key="key" item="vo">
                    <tr>
                        <td align="center">{$pname}</td>
                        <td align="center">{$scon.cno}</td>
                        <td align="center">{$cgcon.cno}</td>
                        <td align="center">{$record.belong}</td>
                        <td align="center">{$record.charge}</td>
                        <td align="center">{$vo.ab}</td>
                        <td align="center">{$vo.etime}</td>
                        <td align="center">{$vo.etotal}</td>
                        <td align="center">{$vo.atotal}</td>
                        <td align="center">{$vo.cktotal}</td>
                    </tr>
                </foreach>
                <if condition="$fpath neq ''">
                    <tr>
                        <td colspan="10">
                            <div class="login_box1  ">
                                <span class="login_title1">相关图片证明：</span>
                                <volist name="fpath" id="bill">
                                    <p style="margin-left: 120px;"><img width="100" src="{$bill.path}" data-toggle="modal" data-target="#myModal" onclick="ddd(this)"/></p>
                                </volist>
                            </div>
                        </td>
                    </tr>
                </if>
                <else />
                <tr>
                    <td colspan="10">暂无信息</td>
                </tr>
            </notempty>
            <if condition="($data['list'] neq null)">
                <tr>
                    <td colspan="10">
                        {$data.show}
                    </td>
                </tr>
            </if>
            <tr>
                <td colspan="10"><a class="btn btn-primary" onclick="JavaScript:history.go(-1);" style="float:right;margin-right:100px;text-emphasis:center;">返回上一页</a></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
