<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>银行账号管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Iframe.css" />
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
</head>

<body style="height:100%;overflow-y:auto;">
<span class="cp_title" >银行账号管理</span>

<div class="table_con">
    <form method="get" action="">
        <table cellpadding="0" cellspacing="1">
            <tr>
                <td width="5%" align="center" class="tb_title">账号ID</td>
                <td width="15%" align="center" class="tb_title">银行账号</td>
                <td width="10%" align="center" class="tb_title">创建时间</td>
                <td width="10%" align="center" class="tb_title">创建人</td>
                <td width="10%" align="center" class="tb_title">状态</td>
                <td width="15%" align="center" class="tb_title">操作</td>

            </tr>
            <notempty name="data">
                <foreach name="data" key="key" item="vo">
                    <tr>
                        <td align="center">{$vo.id}</td>
                        <td align="center">{$vo.bankno}</td>
                        <td align="center">{$vo.ctime|date="Y-m-d",###}</td>
                        <td align="center">{$vo.username}</td>
                        <td align="center">
                            <eq name="vo.status" value="0">
                                未通过审核
                            </eq>
                            <eq name="vo.status" value="1">
                                正在审核
                            </eq>
                            <eq name="vo.status" value="2">
                                审核已通过
                            </eq>
                        </td>
                        <td align="center">
                            <eq name="vo.status" value="0">
                                已驳回
                            </eq>
                            <eq name="vo.status" value="1">
                                <a href="{:U("checkbank?type=bac&id=$vo[id]")}">驳回</a>
                                <a href="{:U("checkbank?type=pas&id=$vo[id]")}">通过</a>
                            </eq>
                            <eq name="vo.status" value="2">
                                审核已通过
                            </eq>
                        </td>
                    </tr>
                </foreach>
                <else />
                <tr>
                    <td colspan="5">暂无信息</td>
                </tr>
            </notempty>
            <if condition="($data['list'] neq null)">
                <tr>
                    <td colspan="5">
                        {$data.show}
                    </td>
                </tr>
            </if>
        </table>
    </form>
</div>
<script>
    var p_time = {
        elem: '#p_time',
        format: 'YYYY-MM-DD',
        min: '2015-06-16 23:59:59',//laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var p_etime = {
        elem: '#p_etime',
        format: 'YYYY-MM-DD',
        min: '2015-06-16 23:59:59',//laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas; //将结束日的初始值设定为开始日
        }
    };
    laydate(p_time);
    laydate(p_etime);
</script>
</body>
</html>
