<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>新增项目审核</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Iframe.css" />
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
</head>

<body style="height:100%;overflow-y:auto;">
<span class="cp_title" >新增项目审核</span>
<div class="table_con">
    <form method="get" action="">
        <table cellpadding="0" cellspacing="1">
            <tr>
                <td width="12%" align="center" class="tb_title">项目名称</td>
                <td width="10%" align="center" class="tb_title">项目简称</td>
                <td width="10%" align="center" class="tb_title">项目描述</td>
                <td width="10%" align="center" class="tb_title">添加人</td>
                <td width="10%" align="center" class="tb_title">添加时间</td>
                <td width="20%" align="center" class="tb_title">操作</td>

            </tr>
            <notempty name="data['list']">
                <foreach name="data['list']" key="key" item="vo">
                    <tr>
                        <td align="center">{$vo.pname}</td>
                        <td align="center">{$vo.shortname}</td>
                        <td align="center">{$vo.descb}</td>
                        <td align="center">{$vo.username}</td>
                        <td align="center">{$vo.ctime|date="Y-m-d H:i:s", ###}</td>
                        <td align="center">
                            <a href="{:U("checkpro?ptype=bk&id=$vo[id]")}">驳回</a>
                            <a href="{:U("checkpro?ptype=ps&id=$vo[id]")}">通过</a>
                        </td>
                    </tr>
                </foreach>
                <else />
                <tr>
                    <td colspan="6">暂无信息</td>
                </tr>
            </notempty>
            <if condition="($data['list'] neq null)">
                <tr>
                    <td colspan="6">
                        {$data.show}
                    </td>
                </tr>
            </if>
        </table>
    </form>
</div>
</body>
</html>
