<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>上传归档图片</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <style>
        .niandu {
            width:120px;
            line-height: 33px;
        }
        .daniel_icon {
            margin-left:160px;
        }
        .daniel_width {
            width:80%;
        }
    </style>
    <script>
        function addpro(){
            $('#daniel_pro').append('<div style="margin-left: 130px;margin-top:10px;"> 年度：<input class="niandu stime" name="stime[]"  type="text" placeholder="年度"/>&nbsp;&nbsp;&nbsp;&nbsp; 名称：<input class="niandu pname" name="pname[]"  type="text" placeholder="项目名称" />&nbsp;&nbsp;&nbsp;&nbsp; 分配金额：<input class="niandu ctoptotal" name="ctoptotal[]"  type="text" placeholder="合同分配到项目金额" />&nbsp;&nbsp;&nbsp;&nbsp; 到款金额：<input class="niandu" name="realtotal[]"  type="text" placeholder="实际到款金额" /><a href="javascript:;" onclick="daniel_del(this)"> 删除该项目</a></div>');
        }
        function daniel_del(obj){
            $(obj).parent().remove();
        }

        /*$("#addpic").click(function(){
            alert(44);
        });*/

        function addpic(){
            $("#daniel_so").append('<div class="login_box1 form-group" style="width:80%"><span class="login_title1 col-sm-2 control-label">相关图片</span><input onchange="dd(this)" type="file" /><span class="daniel_icon"></span><span style="color:red"></span><sapn style="float:right;margin-left:300px"><a onclick="delpic(this)">-删除图片</a></span></div>');
        }
        function delpic(obj){
            $(obj).parent().parent().remove();
        }
        function dd(obj){
                //创建FormData对象
                var data = new FormData();
                //为FormData对象添加数据
                $.each($(obj)[0].files, function(i, file) {
                    data.append('icon', file);
                });
                $.ajax({
                    url:'/Index/getImg.shtml',
                    type:'POST',
                    data:data,
                    cache: false,
                    contentType: false,    //不可缺
                    processData: false,    //不可缺
                    success:function(data){
                        if(data){
                            if(data == 'no'){
                                alert('上传失败');
                                return;
                            }
                            $(obj).siblings(".daniel_icon").html('<img src="'+data+'" width="80" /><input  type="hidden" name="pic[]" value="'+data+'" />');
                        }
                    },
                    error:function(){
                        alert('上传出错,请联系管理员！');
                        return false;
                    }
                });

        }

    </script>
</head>

<body style="background:#fff;height:100%;overflow-y:auto;">
<div class="nav_top1">
    <div class="nav_tcon1" style="width:98%;">
        <div class="logotitle1">
            <span>申请归档</span>
        </div>
    </div>
</div>
<form name="product_form" id="daniel_form" enctype="multipart/form-data" action="" method="post">
    <div class="logo_content1">
        <div class="logo_ccon1">
            <div id="daniel_so" class="logo_enter1" style="border:none;float:left;">
                <if condition="count($msg) neq 0">
                <div class="nav_tcon1" style="float:left;width:98%;" >
                    <div class="logotitle1">
                        <span style="font-size: 15px">驳回信息</span>
                    </div>
                </div>
                <div class="login_box1 form-group" style="width:80%">
                    <span class="login_title1 col-sm-2 control-label" >意见：</span>
                <textarea class="form-control"  style="width:60%"><foreach name="msg" item="vo"><?php echo trim($vo['msg']).'__'.$vo['uname']."\r\n";?>
                </foreach>
                </textarea>
                </div>
                </if>
                <div class="login_box1 form-group">
                    <span class="login_title1 col-sm-2 control-label" >上传pdf：</span>
                    <input class="use_name form-control"  name='filingpdf'  type="file"  />
                </div>
                <div class="nav_tcon1" style="float:left;width:98%;" >
                    <div class="logotitle1">
                        <span style="font-size: 15px">上传合同图片</span>
                    </div>
                </div>
                <div class="login_box1 form-group" style="width:80%">
                    <span class="login_title1 col-sm-2 control-label">相关图片</span>
                    <input onchange="dd(this)" type="file"/><span class="daniel_icon"></span><span style="color:red"></span>
                    <sapn style="float:right;margin-left:300px"><a onclick="addpic()" id="addpic">+增加图片</a></span>
                </div>
            </div>
            <div class="nav_tcon1" style="float:left;width:80%;margin-left:100px;">
                <input type="hidden" name="cid" value="{$cid}"/>
                <input type="submit" name="submit" class=" btn btn-success" value="合同原件彩色扫描件已上传，合同原件已给财务部" />
                <a class="  btn btn-primary" onclick="JavaScript:history.go(-1);" style="text-emphasis:center;">返回上一页</a>
            </div>
        </div>
    </div>
</form>
</body>
</html>
