<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>驳回添加的项目</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
</head>

<body style="background:#fff;height:100%;overflow-y:auto;">
<div class="nav_top1">
    <div class="nav_tcon1" style="width:98%;">
        <div class="logotitle1">
            <span>驳回添加的项目</span>
        </div>
    </div>
</div>
<form name="product_form" id="daniel_form" enctype="multipart/form-data" action="" method="post">
    <div class="logo_content1">
        <div class="logo_ccon1">
            <div class="logo_enter1" style="border:none;float:left;">

                <div class="login_box1">
                    <span class="login_title1" >项目名称：</span>
                    <input class="use_name" value="{$data.pname}" name='pname' id="pname"  type="text" readonly placeholder="年份及项目名称如：2016华睿..." /><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >项目简称：</span>
                    <input class="use_name" value="{$data.shortname}" id="shortname" name='shortname' readonly type="text" placeholder="项目简称" /><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >项目描述：</span>
                    <input class="use_name" value="{$data.descb}" id="total" name='descb'  type="text" readonly placeholder="项目的有关描述" /><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >驳回描述：</span>
                    <textarea name="msg" id="bomsg" cols="35" rows="10"></textarea>
                    <input type="hidden" name="pid" value="{$pid}"/>
                </div>
                <input type="submit" name="submit" class="login_submit" value="添加" />
            </div>
        </div>
    </div>
</form>
<script>
    $("#daniel_form").submit(function () {
        if($("#bomsg").val() == ''){
            alert('驳回描述不可为空！');
            return false;
        }

    });
</script>
</body>
</html>
