<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>订阅管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Iframe.css" />
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/js/jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/laydate/laydate.js"></script>
    <script type="text/javascript" src="__PUBLIC__/js/main.js"></script>
    <script type="text/javascript">
        $(function(){

            $("#mgcity").change(function(){
                var sid = $(this).val();
                $.ajax({
                    url:'getTown',
                    type:'GET',
                    data:"sid="+sid+"&type=getcity",
                    cache: false,
                    async:false,
                    dataType: "json",
                    success:function(datas){
                        $("#towns").html('<option value="">-选择-</option>');
                        $("#school").html('<option value="">-选择-</option>');
                        $("#class").html('<option value="">-选择-</option>');
                        $.each(datas,function(k,v){
                            $("#towns").append("<option value='"+k+"'>"+v+"</option>");
                        });
                    },
                    error:function(){
                        alert('网络错误，请刷新页面！');
                        return false;
                    }
                });

            });
            $("#towns").change(function(){
                var tid = $(this).val();
                var sid = $("#mgcity").val();
                $.ajax({
                    url:'getTown',
                    type:'GET',
                    data:"tid="+tid+"&type=getschool&sid="+sid,
                    cache: false,
                    async:false,
                    dataType: "json",
                    success:function(datas){
                        $("#school").html('<option value="">-选择-</option>');
                        $("#class").html('<option value="">-选择-</option>');
                        $.each(datas,function(k,v){
                            $("#school").append("<option value='"+k+"'>"+v+"</option>");
                        });
                    },
                    error:function(){
                        alert('网络错误，请刷新页面！');
                        return false;
                    }
                });


            });
            $("#school").change(function(){
                var scid = $(this).val();
                $.ajax({
                    url:'getTown',
                    type:'GET',
                    data:"scid="+scid+"&type=getclass",
                    cache: false,
                    async:false,
                    dataType: "json",
                    success:function(datas){
                        $("#class").html('<option value="">-选择-</option>');
                        $.each(datas,function(k,v){
                            $("#class").append("<option value='"+k+"'>"+v+"</option>");
                        });
                    },
                    error:function(){
                        alert('网络错误，请刷新页面！');
                        return false;
                    }
                });


            });
        })
    </script>
</head>

<body style="height:100%;overflow-y:auto;">
<span class="cp_title" >查询管理</span>
    <a class="btn btn-primary" style="float: right;margin-right:20px;margin-top:30px" href="{:U("index/downxls")}">下载合同</a>
<div class="table_con">
    <form method="get" action="">
        <table cellpadding="0" cellspacing="1">
                <tr>
                    <td align="right" colspan="11">
                        <label style="margin-left:5px;">合同类型:&nbsp;&nbsp;</label>
                        <select class="input-sm" name="ct" style="margin-right:5px;width:80px;">
                            <option value="0" <if condition="$_ct eq ''">selected=selected</if>>-选择-</option>
                            <option value="1" <if condition="$_ct eq 1">selected=selected</if>>销售合同</option>
                            <option value="2" <if condition="$_ct eq 2">selected=selected</if>>采购合同</option>
                        </select>
                        <label style="margin-left:5px;">负责人:&nbsp;&nbsp;</label>
                        <input type="text" class="input-sm" name="fname" style="float:none;" placeholder="请输入关键字" value="{$_fname}" />
                        <label style="margin-left:5px;">合同名称:&nbsp;&nbsp;</label>
                        <input type="text" class="input-sm" name="cname" style="float:none;" placeholder="请输入关键字" value="{$_cname}" />
                        <label style="margin-left:5px;">客户名称:&nbsp;&nbsp;</label>
                        <input type="text" class="input-sm" name="gname"  style="float:none;" placeholder="请输入关键字" value="{$_gname}" />

                        <label style="margin-left:5px;">归档:&nbsp;&nbsp;</label>
                        <select class="input-sm" name="isfiling" style="margin-right:5px;width:80px;">
                            <option value="0" <if condition="$_isfiling eq ''">selected=selected</if>>-选择-</option>
                            <option value="1" <if condition="$_isfiling eq 1">selected=selected</if>>已归档</option>
                            <option value="2" <if condition="$_isfiling eq 2">selected=selected</if>>未归档</option>
                        </select>
                        <label style="margin-left:5px;">盖章:&nbsp;&nbsp;</label>
                        <select class="input-sm" name="isstamp" style="margin-right:5px;width:80px;">
                            <option value="0" <if condition="$_isstamp eq ''">selected=selected</if>>-选择-</option>
                            <option value="1" <if condition="$_isstamp eq 1">selected=selected</if>>已盖章</option>
                            <option value="2" <if condition="$_isstamp eq 2">selected=selected</if>>未盖章</option>
                        </select>
                        <label style="margin-left:5px;">归属:&nbsp;&nbsp;</label>
                        <select class="input-sm" name="belong" style="margin-right:5px;width:80px;">
                            <option value="0" <if condition="$_belong eq ''">selected=selected</if>>-选择-</option>
                            <option value="华睿互动" <if condition="$_belong eq '华睿互动'">selected=selected</if>>华睿互动</option>
                            <option value="优学教育" <if condition="$_belong eq '优学教育'">selected=selected</if>>优学教育</option>
                            <option value="极速传媒" <if condition="$_belong eq '极速传媒'">selected=selected</if>>极速传媒</option>
                        </select>
                        <label style="margin-left:5px;">项目名称:&nbsp;&nbsp;</label>
                        <input type="text" class="input-sm" name="pname"  style="float:none;" placeholder="请输入关键字" value="{$keyword}" />
                        <input type="submit" name="search" id="search" value="搜索" class="bj_btn" />
                    </td>
                </tr>
                <tr>
                    <td width="5%" align="center" class="tb_title">合同编号</td>
                    <td width="8%" align="center" class="tb_title">归属公司</td>
                    <td width="10%" align="center" class="tb_title">合同名称</td>
                    <td width="10%" align="center" class="tb_title">项目名称</td>
                    <td width="8%" align="center" class="tb_title">客户名称</td>
                    <td width="3%" align="center" class="tb_title">合同金额</td>

                    <td width="5%" align="center" class="tb_title">负责人</td>
                    <td width="26%" align="center" class="tb_title">操作</td>

                </tr>
                <notempty name="data['list']">
                    <foreach name="data['list']" key="key" item="vo">
                        <tr>
                            <td align="center"><a href="{:U("detail?id=$vo[id]")}">{$vo.cno}</a></td>
                            <td align="center">{$vo.belong}</td>
                            <td align="center">{$vo.cname}</td>
                            <td align="center">{$vo.pname}</td>
                            <td align="center">{$vo.gname}</td>
                            <td align="center">{$vo.total}</td>

                            <td align="center">{$vo.fname}</td>

                            <td align="center">

                                <if condition="$vo.isactive eq 0">
                                    <a href="{:U("ctedit?id=$vo[id]")}">编辑</a>
                                    <else/>
                                    <if condition="$isexc eq 1">
                                        <a href="{:U("ctedit?id=$vo[id]")}">编辑</a>
                                    </if>
                                </if>
                                <a href="{:U("bill?id=$vo[id]")}">申请发票</a>
                                <if condition="$vo.stampis eq 0">
                                    <a href="{:U("stamp?id=$vo[id]")}">申请盖章</a>
                                </if>
                                <if condition="($vo.isfiling eq 0) or ($vo.isfiling eq 1)">
                                    <a href="{:U("filing?id=$vo[id]")}">申请归档</a>
                                </if>
                                <a href="{:U("listex?id=$vo[id]")}">执行列表</a>
                            </td>
                        </tr>
                    </foreach>
                    <else />
                    <tr>
                        <td colspan="8">暂无信息</td>
                    </tr>
                </notempty>
                <if condition="($data['list'] neq null)">
                    <tr>
                        <td colspan="8">
                            {$data.show}
                        </td>
                    </tr>
                </if>
        </table>
    </form>
</div>
<script>
    var p_time = {
        elem: '#p_time',
        format: 'YYYY-MM-DD',
        min: '2015-06-16 23:59:59',//laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas //将结束日的初始值设定为开始日
        }
    };
    var p_etime = {
        elem: '#p_etime',
        format: 'YYYY-MM-DD',
        min: '2015-06-16 23:59:59',//laydate.now(), //设定最小日期为当前日期
        max: '2099-06-16 23:59:59', //最大日期
        istime: false,
        istoday: false,
        choose: function(datas){
            end.min = datas; //开始日选好后，重置结束日的最小日期
            end.start = datas; //将结束日的初始值设定为开始日
        }
    };
    laydate(p_time);
    laydate(p_etime);
</script>
</body>
</html>
