<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>优学教育流程管理系统</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/Iframe.css" />
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="__PUBLIC__/css/matrix-style.css" type="text/css" media="screen" />
</head>
<body>
<div class="row-fluid">
    <div class="widget-box">
        <div class="widget-content">
            <div class="error_ex">
                <h1>Welcome</h1>
                <h3>欢迎使用优学教育流程管理系统!</h3>
            </div>
        </div>
    </div>
</div>
</body>
</html>