<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>盖章修改</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/utilLib/bootstrap.min.css" type="text/css" media="screen" />
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <style>
        .niandu {
            width:120px;
            line-height: 33px;
        }
    </style>
    <script>
        function addpro(){
            $('#daniel_pro').append('<div style="margin-left: 130px;margin-top:10px;"> 年度：<input class="niandu stime" name="stime[]"  type="text" placeholder="年度"/>&nbsp;&nbsp;&nbsp;&nbsp; 名称：<input class="niandu pname" name="pname[]"  type="text" placeholder="项目名称" />&nbsp;&nbsp;&nbsp;&nbsp; 分配金额：<input class="niandu ctoptotal" name="ctoptotal[]"  type="text" placeholder="合同分配到项目金额" />&nbsp;&nbsp;&nbsp;&nbsp; 到款金额：<input class="niandu" name="realtotal[]"  type="text" placeholder="实际到款金额" /><a href="javascript:;" onclick="daniel_del(this)"> 删除该项目</a></div>');
        }
        function daniel_del(obj){
            $(obj).parent().remove();
        }
        function ddd(obj){
            var a = $(obj).attr('src');
            $("#tobids").attr('src',a);
        }
    </script>
</head>

<body style="background:#fff;height:100%;overflow-y:auto;">
<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <img width="1000" id="tobids" src="" alt=""/>
        </div>
    </div>
</div>
<div class="nav_top1">
    <div class="nav_tcon1" style="width:98%;">
        <div class="logotitle1">
            <span>盖章修改</span>
        </div>
    </div>
</div>
<form name="product_form" id="daniel_form" enctype="multipart/form-data" action="" method="post">
    <div class="logo_content1">
        <div class="logo_ccon1">
            <div class="logo_enter1" style="border:none;float:left;">
                <!--
                <div class="login_box1">
                    <span class="login_title1">归属公司：</span>
                    <select name="belong"  style="width:100px">
                        <option value="极速" <if condition="$data['belong'] eq '极速'">selected=selected</if>> 极速</option>
                        <option value="华睿" <if condition="$data['belong'] eq '华睿'">selected=selected</if>> 华睿</option>
                        <option value="优学" <if condition="$data['belong'] eq '优学'">selected=selected</if>> 优学</option>
                    </select>
                    <font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >合同名称：</span>
                    <input class="use_name" value="{$data['cname']}" name='cname'  type="text" placeholder="合同内容名称" /><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >客户名称：</span>
                    <input class="use_name" value="{$data['gname']}" id="gname" name='gname'  type="text" placeholder="客户名称（全称）" /><font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >项目时间：</span>
                    <input class="use_name" value="{$data['ptime']}" id="stime" name='stime'  type="text" placeholder="" /><font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >项目名称：</span>
                    <input class="use_name" value="{$data['pname']}" id="pname" name='pname'  type="text" placeholder="项目名称（全称）" /><font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                </div>
                <div class="login_box1">
                    <span class="login_title1" >合同金额：</span>
                    <input class="use_name" id="total" name='total'  type="text" placeholder="合同分配金额" /><font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                </div>
                -->
                <notempty name="bmsg">
                    <div class="nav_tcon1" style="float:left;width:98%;" >
                        <div class="logotitle1">
                            <span style="font-size: 15px">驳回意义</span>
                        </div>
                    </div>

                    <div class="login_box1 form-group" style="width:80%">
                        <span class="login_title1 col-sm-2 control-label" >意见：</span>
                    <textarea readonly class="form-control"  style="width:60%"><foreach name="bmsg" item="vo"><?php echo trim($vo['msg']).'__'.$vo['uname']."\r\n";?>
                    </foreach>
                    </textarea>
                    </div>
                </notempty>
                <div id="dayin">
                    <div style="text-align: center;width:80%;margin-top:50px;margin-bottom:40px"><h2>盖章申请单</h2></div>
                <div class="nav_tcon1" style="float:left;width:98%;" >
                    <div class="logotitle1">
                        <span style="font-size: 15px">合同基本信息</span>
                    </div>
                </div>
                <div>
                    <table class=" table" style="margin-left: 60px;width:90%">
                        <tr>
                            <td class="active">合同编号:<i> {$contract.cno}</i></td>
                            <td class="active">归属公司:<i> {$contract.belong}</i></td>

                        </tr>
                        <tr>
                            <td class="active">所属项目:<i> {$contract.pname}</i></td>
                            <td class="active">是否为框架合同:<i>
                                <if condition="$contract['isframe'] eq 1">
                                    是
                                    <else/>
                                    否
                                </if>
                            </i></td>

                        </tr>
                        <tr>
                            <td class="active">合同金额:<i> {$contract.total}</i></td>
                            <td class="active">对方名称:<i> {$contract.gname}</i></td>
                        </tr>
                        <tr>
                            <td class="active">合同名称:<i> {$contract.cname}</i></td>
                            <td class="active">负责人:<i> {$contract.fname}</i></td>
                        </tr>
                        <tr>
                            <td class="active" colspan="2">合同份数: {$bdata.conum}</td>
                        </tr>
                    </table>

                </div>


                <div class="nav_tcon1" style="float:left;width:98%;" >
                    <div class="logotitle1">
                        <span style="font-size: 15px">盖章信息</span>
                    </div>
                </div>

                <if condition="$fr neq 'see'">
                    <div class="login_box1">
                        <span class="login_title1" >&nbsp;推广期间：</span>
                        <textarea class="use_name form-control" id="adperiod" name="adperiod">{$bdata.adperiod}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                    </div>
                    <div class="login_box1">
                        <span class="login_title1" >推广位置：</span>
                        <textarea class="use_name form-control" id="adposition" name='adposition'>{$bdata.adposition}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                    </div>
                    <div class="login_box1">
                        <span class="login_title1" >结算条款：</span>
                        <textarea class="use_name form-control" id="settleitem" name='settleitem'>{$bdata.settleitem}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                    </div>
                    <div class="login_box1 form-group" style="width:80%">
                        <span class="login_title1 col-sm-2 control-label">上传相关附件</span>
                        <input name="xls" type="file"/><span class="daniel_icon" style="margin-left: 160px"></span><span style="color:red"></span>
                    </div>
                    <div class="login_box1 form-group" style="width:80%">
                        <span class="login_title1 col-sm-2 control-label">相关图片证明：</span>
                        <input  type="file" id="pro" />
                    <span id="icon_img" style="margin-left:160px">
                        <if condition="$bdata.stamppic neq ''">
                            <img src="{$bdata.stamppic}" width="100px" alt="" data-toggle="modal" data-target="#myModal" onclick="ddd(this)" />
                        </if>
                    </span>
                    </div>
                    <else/>
                    <div class="login_box1">
                        <span class="login_title1" >&nbsp;推广期间：</span>
                        <textarea class="use_name form-control" readonly id="adperiod" name="adperiod">{$bdata.adperiod}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                    </div>
                    <div class="login_box1">
                        <span class="login_title1" >推广位置：</span>
                        <textarea class="use_name form-control" readonly id="adposition" name='adposition'>{$bdata.adposition}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                    </div>
                    <div class="login_box1">
                        <span class="login_title1" >结算条款：</span>
                        <textarea class="use_name form-control" readonly id="settleitem" name='settleitem'>{$bdata.settleitem}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                    </div>
                    <div class="login_box1">
                        <span class="login_title1" >附件下载：</span>
                        <a class="use_name form-control" href="{:U("downfile?id=$bdata[id]")}">附件下载</a><font style="color:#FF0000;line-height:40px;">&nbsp;*</font>
                    </div>
                    <if condition="$bdata.stamppic neq ''">
                        <div class="login_box1  daniel_hide">
                            <span class="login_title1">相关图片证明：</span>
                            <span><img width="100" src="{$bdata.stamppic}" data-toggle="modal" data-target="#myModal" onclick="ddd(this)"/></span>
                        </div>
                    </if>
                </if>
                    <div style="margin-top:40px">
                        <span style="float:right;">
                            负责人：_____________初审人：____________复审人：______________日期：_______________
                        </span>
                    </div>
                <!--
                <div class="login_box1">
                    <span class="login_title1" >备注：</span>
                    <textarea class=" use_name form-control" cols="35" rows="5"  name='remark' placeholder="" />{$data['remark']}</textarea><font style="color:#FF0000;line-height:40px;">&nbsp;</font>
                </div>
                -->
                </div>
                <div class="nav_tcon1" style="float:left;width:80%;margin-left:200px">
                    <input type="hidden" name="cid" value="{$cid}"/>
                    <input type="hidden" name="id" value="{$id}"/>
                    <if condition="$fr neq 'see'">
                        <input type="submit" name="submit" class="btn btn-success" value="提交申请" />
                    </if>
                    <a class="btn btn-primary" onclick="JavaScript:history.go(-1);" style="text-emphasis:center;">返回上一页</a>
                    <input class="btn btn-info" type="button" onclick="jQuery.print('#dayin')" value="打印"/>
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    $("#daniel_form").submit(function () {
        if($("#adperiod").val() == ''){
            alert('推广期间不可为空！');
            return false;
        }
        if($("#adposition").val() == ''){
            alert('推广位置不可为空！');
            return false;
        }
        if($("#settleitem").val() == ''){
            alert('结算条款不可为空！');
            return false;
        }

    });
    $("#pro").change(function(){
        //创建FormData对象
        var data = new FormData();
        //为FormData对象添加数据
        $.each($('#pro')[0].files, function(i, file) {
            data.append('icon', file);
        });
        $.ajax({
            url:'/Index/getImg.shtml',
            type:'POST',
            data:data,
            cache: false,
            contentType: false,    //不可缺
            processData: false,    //不可缺
            success:function(data){
                if(data){
                    if(data == 'no'){
                        alert('上传失败');
                        return;
                    }

                    $("#icon_img").html('<img src="'+data+'" width="80" /><input id="propro" type="hidden" name="stamppic" value="'+data+'" />');
                }
            },
            error:function(){
                alert('上传出错,请联系管理员！');
                return false;
            }
        });
    });

</script>
<script src="http://libs.useso.com/js/jquery/1.9.1/jquery.min.js"></script>
<script src="__PUBLIC__/js/jQuery.print.js"></script>
<script type='text/javascript'>
    //<![CDATA[
    $(function() {
        $("#ele2").find('.print-link').on('click', function() {
            //Print ele2 with default options
            $.print("#ele2");
        });
        $("#ele4").find('button').on('click', function() {
            //Print ele4 with custom options
            $("#ele4").print({
                //Use Global styles
                globalStyles : false,
                //Add link with attrbute media=print
                mediaPrint : false,
                //Custom stylesheet
                stylesheet : "http://fonts.useso.com/css?family=Inconsolata",
                //Print in a hidden iframe
                iframe : false,
                //Don't print this
                noPrintSelector : ".avoid-this",
                //Add this at top
                prepend : "Hello World!!!<br/>",
                //Add this on bottom
                append : "<br/>Buh Bye!"
            });
        });
        // Fork https://github.com/sathvikp/jQuery.print for the full list of options
    });
    //]]>
</script>
</body>
</html>
